.button {
  border: none;
  text-decoration: none;
  outline: none;
  padding: 12px 24px;
  @include text($H300, 300, $white);
  background-color: $header-btn-color;
  text-transform: uppercase;
  @include flex(center, center);
  width: 100%;
  text-align: center;
  @media screen and (min-width: $screen-tablet) {
    width: fit-content;
  }
  &--header {
    background-color: $header-btn-color;
  }
}
