.section-subscribe{
    background-image: url(../images/bg-subscribe.png);
    @extend %background-image;
    background-position-y: 110%;
  background-position-x: 100%;
  background-size: 200%;
  padding-top: 45px;
  padding-bottom: 120px;
    @include media ($screen-tablet){
    background-position-x: 100% ;
    background-position-y: 110%;
    background-size: 120%;
    padding-top: 70px;
    padding-bottom: 140px;
    }
    @include media {
        background-size: cover;
        background-position-x: 70%;
        background-position-y: center;
        background-size: 80%;
        padding-top: 145px;
        padding-bottom: 163px;
      }
      
    &__title{
    @extend %section-title;
    @include text($H600, 700, $dark);
    margin-bottom: 32px;
    @include media($screen-tablet) {
    @include text($H700, 700, $dark);
    }
}
    &__text {
        @include text($H200, 400, $dark);
        margin-bottom: 30px;
        @include media($screen-tablet) {
          max-width: 550px;
        }
    }
    &__form {
        @include media {
          display: flex;
        }
      }
      &__input{
          width: 100%;
          height: 55px;
          border: 1px solid $text-main-color;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 30px;
          border-radius:0;
          box-shadow: none;
          outline: none;
          @include text($H100,400);
          &::placeholder{
              opacity: 0.5;
              @include text($H100,300, $text-main-color)
          }
          @include media{
              font-size: $H50;
              margin-bottom: 0;
              margin-right: 30px;
              width: 50%;
              max-width: 600px;
              &::placeholder {
                font-size: $H50;
              }
          }
      }
}