<section id="blog" class="section-blog">
    <div class="container section-blog__container">
      <h2 class="section-blog__title">Blog</h2>
      <p class="section-blog__description">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
      <ul class="section-blog__list">
        <li class="section-blog__list-item blog-card">
          <img class="blog-card__image" src="images/mohito.png" alt="mohito">
          <div class="blog-card__date-box">
            <span class="blog-card__date">10</span>
            <span class="blog-card__date blog-card__date--month">NOV</span>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Green Smoothies: Too Much of a Good Thing?</h3>
            <p class="blog-card__info">By Auskteez - 2 hours ago</p>
          </div>
        </li>
        <li class="section-blog__list-item blog-card">
          <img class="blog-card__image" src="images/peas.png" alt="peas">
          <div class="blog-card__date-box">
            <span class="blog-card__date">10</span>
            <span class="blog-card__date blog-card__date--month">NOV</span>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Green Smoothies: Too Much of a Good Thing?</h3>
            <p class="blog-card__info">By Auskteez - 2 hours ago</p>
          </div>
        </li>
        <li class="section-blog__list-item blog-card">
          <img class="blog-card__image" src="images/malina.png" alt="malina">
          <div class="blog-card__date-box">
            <span class="blog-card__date">10</span>
            <span class="blog-card__date blog-card__date--month">NOV</span>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Green Smoothies: Too Much of a Good Thing?</h3>
            <p class="blog-card__info">By Auskteez - 2 hours ago</p>
          </div>
        </li>
      </ul>
      <a class="button button--blog" href="">View More</a>
    </div>
  </section>