<section class="section-subscribe">
    <div class="container section-subscribe__container">
      <h2 class="section-subscribe__title">Subscribe to us</h2>
      <p class="section-subscribe__text">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <form class="section-subscribe__form" action="/" method="POST">
        <input placeholder="Your email address..." type="email" class="section-subscribe__input" required>
        <button class="button button--subscribe section-subscribe__button">subscribe</button>
      </form>
    </div>
  </section>